<!DOCTYPE html>
<html>
<head>
  <title>Send Mass Mail</title>
</head>
<body>
  <h1>Select  Mass Mail Template</h1>

<form method="POST" enctype="multipart/form-data" action="/summernote/">
    {% csrf_token %}

    <select name="template" required>
        <option value="">-------select------</option>
        <option value="email_template_education.html">Education Email Template</option>
        <option value="email_template_banking.html">Banking Email Template</option>
        <option value="email_template_emergency.html">Emergency Email Template</option>
        <option value="email_template_health.html">Health Email Template</option>
        <option value="email_template_insurannce.html">Insurance Email Template</option>

    </select> <br><br>
    <input type="submit" value="Send">
</form>

</body>
</html>

